{% load static %}
<link rel="stylesheet" href="{% static 'header.css' %}">
<div class="context-bar">
    <ul class="horizontal">
        <li>
            <a href="{% url 'message_app:messages' %}">Message list</a>
        </li>
        <div style="float:right">
            <li>
                <a href="{% url 'login_app:user_details' user_id %}">See my profile</a>
            </li>
            <li>
                <a href="{% url 'login_app:login' %}">Logout</a>
            </li>
        </div>
    </ul>
</div>