<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

{% include "header.html" %}
<html>
    <head>
        {% load static %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'message_box.css' %}">
    </head>
    <body>
        <div class="container">
            <h3 class=" text-center">Chatbox</h3>
            <div class="messaging">
                <div class="inbox_msg">
                    {% include "message_user.html" %}
                    {% include "message_box.html" %}
                </div>
            </div>
        </div>  
    </body> 
</html>