<div class="mesgs">
    <script>
        window.onload = function bottom() {
            obj = document.getElementById('bottom');
            obj.scrollTop = obj.scrollHeight
        };
        bottom();
    </script>
    <div id="bottom" class="msg_history">
    {% for message in messages %}
        {% if message.author != connected_user %}
        <div class="incoming_msg">
            <div class="incoming_msg_img"> {{ message.author }} </div>
            <div class="received_msg">
                <div class="received_withd_msg">
                    <p>{{ message.content }}</p>
                    <span class="time_date">{{ message.emission_time }}</span>
                </div>
            </div>
        </div>
        {% else %}
        <div class="outgoing_msg">
            <div class="sent_msg">
                <p>{{ message.content }}</p>
                <span class="time_date">{{ message.emission_time }}</span>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <form  action="{% url 'message_app:create' %}" method="post">
        {% csrf_token %}
        <div class="type_msg">
            <div class="input_msg_write">
            {{ inbox_form.content }}
            <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
        </div>
    </form>
</div>
    