{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'message.css' %}">

<h2 class="sub_title">Message list</h2>
<ul class="messageUl">
    {% for message in messages %}
        <li class="message">
            <div class="time">{{ message.emission_time }} </div> 
            <div class="messageContent">{{ message.content }}</div>
            <ul div class="lowerButton">
                <li><a href="{% url 'message_app:message_details' message.id %}">Details</a></li>
                <li><a href="{% url 'message_app:delete' message.id %}">Delete</a></li>
                <li style="float:right"><a href="{% url 'login_app:user_details' message.author %}">Author <b>{{ message.author }} </b></a></li>
            </ul>
        </li>
    {% endfor %}
</ul>