{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'detail.css' %}">

<div id="detail_module">
    <h2 class="sub_title">Message details</h2>
    <div class="details">
        <table class="details_table">
            <th class="details_th">Key</th>
            <th class="details_th">Value</th>
            <tr class="details_tr">
                <td class="details_td">Id</td>
                <td class="details_td">{{ message.id }}</td>
            </tr>
            <tr class="details_tr">
                <td class="details_td">Author</td>
                <td class="details_td"> {{ message.author }}</td>
            </tr>
            <tr class="details_tr">
                <td class="details_td">Content</td>
                <td class="details_td">{{ message.content }}</td>
            </tr>
            <tr class="details_tr">
                <td class="details_td">Emission time</td>
                <td class="details_td">{{ message.emission_time }}</td>
            </tr>
        </table>
        <div class="bottom_row">
            <a class="right_button back_button" href="{% url 'login_app:user_details' message.author %}">See user details</a>
        </div>
    </div>
</div>