{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'form.css' %}">

<h2 class="sub_title">Message creation</h2>
<form class="container" action="{% url 'message_app:create' %}" method="post">
    {% csrf_token %}
    <table>
        <tr class="row">
            <td class="first_td"><label class="form_label"> Author </label></td>
            <td>{{ form.author }}</td>
        </tr>
        <tr class="row">
            <td class="first_td"><label class="form_label"> Message </label></td>
            <td>{{ form.content }}</td>
        </tr>
    </table>
    <div class="bottom_row">
        <button class="right_button back_button submit_button" type="submit">Send</button>
    </div>
</form>