table {
    width: 100%;
    border-collapse: collapse; 
}

#detail_module {
    padding-bottom: 0px;
}

.details {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.details_td {
    text-align: center;
    padding-left: 15px;
}

.details_tr:hover {
    background-color: lightgreen;
}

th {
    background-color: lightgreen;
}

.details_table, .details_th, .details_td {
    border: 1px solid black;
}