#header {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: lightgreen;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul.horizontal li {
    float: left;
}

ul.horizontal li:hover {
    background-color: ghostwhite;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul.horizontal li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.context-bar {
    display: block;
}

*, *:before, *:after {
    box-sizing: inherit;
}