html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

body {
    width: 75%;
}

h2 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #080808;
}

h2.sub_title {
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-top: 0px;
    font-size: 30px;
}

.module {
    border: 1px solid black;
    border-radius: 3px;
    padding: 15px;
    margin: 5px;
    width: 75%;
}

.module_main {
    border: 1px solid black;
    border-radius: 3px;
    padding: 15px;
    margin: 5px;
}

.container {
    padding-left: 20px;
}

.back_button {
    display: inline-block;
    color:black;
    border: 1px solid black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgreen;
    padding: 5px 6px;
    text-decoration: none;
    border-radius: 3px;
}

.back_button:hover {
    background-color: ghostwhite;
}

.bottom_row {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
}

.right_button {
    float: right;
}

.app_brand {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    height: 140px;
    text-align: center;
    text-decoration: underline overline black;
}